<footer class="footer">
  <div class="container">
    <div class="content has-text-centered has-text-grey-light">
      <p>视频归相关网站及作者所有，本站不存储任何视频及图片。</p>
      <small>&copy;2018 douzhazha.com</small>
    </div>
  </div>
</footer>
