<nav id="navbar" class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">豆渣渣 - 抖音用户视频批量解析下载</a>
    </div>
    <!--
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">视频下载方法</a>
        <a class="navbar-item" href="#">关于本站</a>
      </div>
    </div>
    -->
  </div>
</nav>
