<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="抖音用户视频批量解析下载">
    <meta name="author" content="douzhazha.com">
    <meta name="referrer" content="never">
    <%= csrf_meta_tag %>
    <title>豆渣渣 - 抖音用户视频批量解析下载</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css">
  </head>

   <body>
    <%= render DouyinExcavatorWeb.SharedView, "nav.html"%>
    <section class="section">
	    <div class="container">

	      <div class="field is-grouped is-grouped-centered">
		      <div class="control is-expanded">
            <input id="query" type="text", class="input", placeholder="抖音用户ID(非抖音号)或分享链接: 85860189461 | https://www.douyin.com/share/user/85860189461?share_type=link">
		      </div>
		      <div class="control">
            <button class="button is-danger" id="search">解析视频</button>
		      </div>
	      </div>
	    </div>
    </section>
    <section class="section">
	    <div class="container">

	      <%= render @view_module, @view_template, assigns %>
	    </div>
    </section>
    <%= render DouyinExcavatorWeb.SharedView, "footer.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4917977412694391",
        enable_page_level_ads: true
      });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120380550-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-120380550-1');
    </script>
  </body>
</html>
