<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="referrer" content="never">
    <title>Hello DouyinExcavator!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bulma/0.7.1/css/bulma.min.css">
    <!--
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    -->
  </head>

  <body class="has-navbar-fixed-top">
    <%= render DouyinExcavatorWeb.SharedView, "nav.html"%>
    <section class="section">
	    <div class="container">
	      <%= form_for @conn, aweme_path(@conn, :index), [method: :get], fn f -> %>
	      <div class="field is-grouped is-grouped-centered">
		      <div class="control is-expanded">
		        <%= search_input f, :query, type: "text", class: "input", placeholder: "用户分享链接(非抖音ID), 获取方法见帮助页面" %>
		      </div>
		      <div class="control">
		        <%= submit("解析视频", class: "button is-primary") %>
		      </div>
	      </div>
       <% end %>
	    </div>
    </section>
    <section class="section">
	    <div class="container">
        <%= render DouyinExcavatorWeb.SharedView, "flash.html", conn: @conn %>
	      <%= render @view_module, @view_template, assigns %>
	    </div>
    </section>
    <footer class="footer">
      <div class="container">
        视频归相关网站及作者所有，本站不存储任何视频及图片。
        &copy;2018 douyinxiu.com
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
